---
import experience from "@data/experience.json";
---

<section>
  <div class="content">
    <article>
      <h5>Experience</h5>
      <h2>{experience.heading}</h2>
      <p>{experience.subheading}</p>
    </article>

    <div class="circle-wrap">
      {
        experience.stats.map((stat) => (
          <div class="container">
            <div class="stat" style={`--percent: ${stat.value}`} />
            <h4>{stat.label}</h4>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  @layer components {
    section {
      margin-top: 7rem;
      background-color: var(--yellow);

      article {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 375px;

        h5 {
          text-transform: uppercase;
          letter-spacing: 2.5px;
          line-height: 150%;
          margin-bottom: 14px;
        }

        h2 {
          font-weight: 700;
          line-height: 150%;
          margin-bottom: 14px;
        }
        p {
          color: var(--darkest);
        }
      }

      .content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
        padding: 5rem 110px;
        gap: 2rem;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    .circle-wrap {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
    }

    .stat {
      --p: calc(var(--percent) * 1%);
      --border-width: 5px;
      --border-color: var(--white);
      --border-bg: #daae3c;
      --bg-color: #fbc336;

      aspect-ratio: 1;
      width: 180px;
      border-radius: 50%;
      border: var(--border-width) solid transparent;
      background:
        radial-gradient(circle at 50% calc(var(--border-width) / 2), var(--border-color) calc(var(--border-width) / 2), transparent 0) border-box,
        linear-gradient(var(--bg-color) 0 0) padding-box,
        conic-gradient(var(--border-color) var(--p), var(--border-bg) 0) border-box;

      display: grid;
      place-items: center;
      counter-reset: count var(--percent);

      &::before,
      &::after {
        grid-area: 1 / 1;
      }

      &::after {
        content: counter(count) "%";
        place-self: center;
        font-size: 2rem;
        font-weight: 700;
        color: var(--darkest);
        z-index: 1;
      }

      &::before {
        content: "";
        aspect-ratio: 1;
        border-radius: calc(Infinity * 1px);
        width: calc(var(--border-width) * 3);
        background: var(--darkest);
        outline: 2px solid var(--white);
        translate: -50% -50%;
        outline-offset: -4px;
        offset-path: border-box;
        offset-distance: var(--p);
        offset-anchor: 50% calc(5% - var(--border-width) / 1);
      }
    }
  }
</style>
